# Django Settings
SECRET_KEY=django-insecure-mude-me-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
INTERNAL_IPS=127.0.0.1

# Database (Default is SQLite)
# DATABASE_URL=postgres://user:password@localhost:5432/dbname

# Security (Production only)
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
SESSION_COOKIE_NAME=jrm_dev
SESSION_COOKIE_AGE=21600
SESSION_SAVE_EVERY_REQUEST=True
SESSION_COOKIE_HTTPONLY=True

# HSTS
SECURE_HSTS_SECONDS=0
SECURE_HSTS_INCLUDE_SUBDOMAINS=False
SECURE_HSTS_PRELOAD=False

# Logging
DJANGO_LOG_LEVEL=INFO
