{% extends "accounts/base_login.html" %}
{% load crispy_forms_tags %}

{% block content %}
    {% include 'accounts/header.html' %}
    <main class="mx-auto bg-[#faebd7]">
        <div class="flex items-center justify-center min-h-screen p-4">
            <div class="w-full max-w-md">
                <div class="bg-white border-4 border-black rounded-2xl neo-shadow-lg p-8">
                    <div class="text-center">
                        <h1 class="text-4xl font-black">Bem-vindo(a) de Volta!</h1>
                        <p class="text-gray-600 font-semibold mt-2">Faça login para continuar.</p>
                    </div>
                    {% crispy form %}
{#                    <form method="post" class="space-y-6 mt-8">#}
{#                        {% csrf_token %}#}
{#                        {{ form|crispy }}#}
{#                        <div>#}
{#                            <button type="submit"#}
{#                                    class="w-full font-bold text-lg text-white bg-black border-2 border-black rounded-lg py-3 neo-shadow-sm neo-button hover:bg-gray-800">#}
{#                                Entrar#}
{#                            </button>#}
{#                        </div>#}
{#                    </form>#}

                    <div class="mt-8 text-center">
                    </div>

                </div>
            </div>
        </div>
    </main>

{% endblock %}
