<!-- --- Seção Sobre --- -->
<section id="sobre"
         class="reveal-on-scroll neo-border bg-white p-md md:p-xl neo-shadow-mobile md:neo-shadow rounded-lg relative mt-16">

    <h2 class="font-headline-lg text-2xl md:text-headline-lg uppercase mb-md md:mb-lg inline-block bg-neo-red text-primary px-sm neo-border transform -rotate-2">Sobre Mim</h2>
    <div class="prose-neo font-body-md md:font-body-lg text-body-md md:text-body-lg space-y-sm md:space-y-md text-black">
        {{ portfolio.about|safe }}
    </div>

</section>
