<div class="skill-card neo-border {{ bg_color }} p-sm md:p-md neo-card rounded-lg flex flex-col">
    <h3 class="font-headline-md text-lg md:text-headline-md mb-md bg-white px-sm neo-border inline-block self-start">
        {{ group_stack.title }}
    </h3>
    <div class="flex flex-wrap gap-xs mt-auto">
        {% for stack in group_stack.stacks.all %}
            <span class="stack-badge-neo font-label-bold text-xs md:text-sm uppercase">
                {{ stack.name }}
            </span>
        {% endfor %}
    </div>
</div>