{% extends 'core/base_public.html' %}
{% load static %}

{% block title %}
	Jhonatan Rian - Desenvolvedor
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock %}

{% block content %}
    {% include 'portfolio/header.html' %}

    <main class="max-w-7xl mx-auto px-sm md:px-md py-md md:py-xl space-y-lg md:space-y-xl">
        {% include 'portfolio/hero.html' %}

        {% include 'portfolio/about.html' %}

        {% include 'portfolio/skills.html' %}

        {% include 'portfolio/projects.html' %}
    </main>

    {% include 'portfolio/footer.html' %}
    {% block js %}
        <script src="{% static 'js/portfolio.js' %}"></script>
    {% endblock %}
{% endblock %}
