{% load i18n %}
<!-- --- Seção Projetos --- -->
<section class="space-y-md md:space-y-lg mt-16" id="projects">
    <h2 class="font-headline-xl text-2xl md:text-headline-xl uppercase bg-primary text-white inline-block px-sm py-xs neo-border">
        {% translate 'Projects' %}
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-md md:gap-lg">
        {% for project in portfolio.projects.all %}
            <div class="neo-border bg-white p-md md:p-lg neo-card rounded-lg flex flex-col h-full">
                <div class="flex justify-between items-start mb-sm md:mb-md">
                    <h3 class="font-headline-md text-lg md:text-headline-md uppercase">
                        {{ project.title }}
                    </h3>
                    <span class="material-symbols-outlined text-2xl md:text-4xl text-neo-green">code</span>
                </div>
                <p class="font-body-md text-sm md:text-body-md mb-md flex-grow">
                    {{ project.description }}
                </p>
                <a class="neo-border bg-primary text-white px-sm md:px-md py-xs md:py-sm neo-shadow-mobile md:neo-shadow neo-button uppercase font-label-bold text-xs md:text-label-bold flex items-center justify-center gap-sm self-start" href="{{ project.repository }}" target="_blank">
                    GitHub <span class="material-symbols-outlined text-sm">north_east</span>
                </a>
            </div>
        {% endfor %}
    </div>
</section>